@font-face {
    font-family: TTNorms-Bold;
    src: url('../../public/fonts/TTNorms-Bold.otf');
}

@font-face {
    font-family: TTNorms-Light;
    src: url('../../public/fonts/TTNorms-Light.otf');
}

@font-face {
    font-family: TTNorms-Regular;
    src: url('../../public/fonts/TTNorms-Regular.otf');
}